<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immigration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <application
        android:name=".controller.application.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

      <!--  <activity
            android:name=".view.login.EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
-->
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />

          <activity
            android:name=".view.main.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
              android:screenOrientation="portrait"
              >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.login.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.login.EditProfileActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.login.ResetPasswordActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.login.ChangePasswordActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.login.SignupActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.login.OTPActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.home.NavigationActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.statisticReport.StatisticReportActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.generateReport.GenerateReport"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.subscription.ResultActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.subscription.SubscriptionListActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.questions.QuestionsActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.support.SupportActivitys"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.faq.FAQActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.privecy.PrivecyPolicyActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".view.term_condition.TermConditionActivity"
            android:screenOrientation="portrait"
            />



        <!--  Push Notification- -->

        <service android:name=".push_notification.MyFirebaseMessagingService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".push_notification.FirebaseIDService"
            android:permission="">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".view.notification.NotificationActivity"
            android:screenOrientation="portrait" />
        <!--  end Push Notification- -->

        <!-- SMS OTP -->
        <receiver android:name=".controller.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Please Provide -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="dreamgo.corp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".view.subscription.PDFViewerActivity"
            android:screenOrientation="portrait"
            />

        <!--need crop Image-->
        <activity
            android:screenOrientation="portrait"
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />



    </application>

</manifest>