<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immigration">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".controller.application.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.login.EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--  <activity
            android:name=".view.main.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        -->


        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.login.ForgotPasswordActivity" />
     <!--   <activity android:name=".view.login.EditProfileActivity" />-->
        <activity android:name=".view.login.ResetPasswordActivity" />
        <activity android:name=".view.login.ChangePasswordActivity" />
        <activity android:name=".view.login.SignupActivity" />
        <activity android:name=".view.login.OTPActivity" />
        <activity android:name=".view.home.NavigationActivity" />
        <activity android:name=".view.notification.NotificationActivity" />
        <activity android:name=".view.statisticReport.StatisticReportActivity" />
        <activity android:name=".view.generateReport.GenerateReport" />
        <activity android:name=".view.subscription.ResultActivity" />
        <activity android:name=".view.subscription.SubscriptionListActivity" />
        <activity android:name=".view.questions.QuestionsActivity" />
        <activity android:name=".view.support.SupportActivitys" />
        <activity android:name=".view.faq.FAQActivity" />
        <activity android:name=".view.privecy.PrivecyPolicyActivity" />
        <activity android:name=".view.term_condition.TermConditionActivity" />

        <!-- SMS OTP -->
        <receiver android:name=".controller.SmsReceiver">
            <intent-filter android:priority="1">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Please Provide -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="dreamgo.corp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".view.subscription.PDFViewerActivity"></activity>

        <!--need crop Image-->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>