<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.immigration">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".connectvity_check.MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_info.LoginActivity" />
        <activity android:name=".login_info.ForgotPasswordActivity" />
        <activity android:name=".login_info.EditProfileActivity" />
        <activity android:name=".login_info.ResetPasswordActivity" />
        <activity android:name=".login_info.ChangePasswordActivity" />
        <activity android:name=".login_info.SignupActivity" />
        <activity android:name=".login_info.OTPActivity" />
        <activity android:name=".NavigationActivity"></activity>
    </application>

</manifest>